body {
    /* background-color: pink; */
    background-image: url("https://cdn.shopify.com/s/files/1/1087/6262/files/desktop-wallpaper-verdinhofloral.png?v=1645028289");
    font-family: Arial, Helvetica, sans-serif; /* alterar fonte */
    background-repeat: no-repeat; 
    background-size: 100vw 100vh;
}

.menu {
    background: white;

}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
  text-decoration: none;
  color:rgb(27, 97, 9);
  font-size: 80px;
}

a:hover {
    text-decoration: overline;
    color: gray;
    font-size:80px;
}
